.S1Cn1D1 img
{
    border-radius: 15px;
    height: 150px;
    width: 200px;
}

#popUpSection
{
    background-image:linear-gradient(rgba(33, 33, 33, 0.5),rgba(33, 33, 33, 0.5)), url('../Images/safe-g0d1d658db_1920.jpg');
}


/* Media Query */

@media (max-width: 480px) 
{   
    .S1Cn1D1
    {
        height: 200px;
    }
    .BDFSectionCON1
    {
        background-color: aqua;
        height: auto;
    }

    .S1Cn1D1 img
    {
        height: 100px;
        width: 150px;
        margin-bottom: 15px;
    }
    .S1Cn1D1spn1, .S1Cn1D1spn2
    {
        margin-top: 0;
    }
    .S1Cn1D2 h1, h5
    {
        font-size: 20px;
    }

    #videoElement
    {
        height: 150px;
        width: 250px;
    }

    #container
    {
        width: 100%;
        height: 100%;
    }
    #facebtn
    {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .facebtnControlDiv
    {
        width: 100%;
        text-align: center;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 768px) 
{
    .S1Cn1D1
    {
        height: 200px;
    }
    .BDFSectionCON1
    {
        background-color: aqua;
        height: auto;
    }

    .S1Cn1D1 img
    {
        height: 100px;
        width: 150px;
        margin-bottom: 15px;
    }
    .S1Cn1D1spn1, .S1Cn1D1spn2
    {
        margin-top: 0;
    }
    .S1Cn1D2 h1, h5
    {
        font-size: 20px;
    }

    #videoElement
    {
        height: 150px;
        width: 250px;
    }

    #container
    {
        width: 100%;
        height: 100%;
    }
    #facebtn
    {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .facebtnControlDiv
    {
        width: 100%;
        text-align: center;
    }
}
          
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px)
{
    .S1Cn1D1
    {
        height: 200px;
    }
    .BDFSectionCON1
    {
        background-color: aqua;
        height: auto;
    }

    .S1Cn1D1 img
    {
        height: 100px;
        width: 150px;
        margin-bottom: 15px;
    }
    .S1Cn1D1spn1, .S1Cn1D1spn2
    {
        margin-top: 0;
    }
    .S1Cn1D2 h1, h5
    {
        font-size: 20px;
    }

    #videoElement
    {
        height: 150px;
        width: 250px;
    }

    #container
    {
        width: 100%;
        height: 100%;
    }
    #facebtn
    {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .facebtnControlDiv
    {
        width: 100%;
        text-align: center;
    }

}
          
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px)
{
    .S1Cn1D1 img
    {
        height: 100px;
        width: 150px;
    }

    #videoElement
    {
        height: 200px;
        width: 250px;
    }
    #container
    {
        height: 200px;
    }
}